@model HungryWeb.ViewModels.DetailedOrderViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @Html.Partial("_DetailedAndDeleteView", Model)
    <hr />
    <div id="changeState">
        <button type="button" class="btn btn-primary float-md-right">Cambiar estado</button>
    </div>
    <br />
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
